<div class="form__login">

<form [formGroup]="form" (ngSubmit)="submit()">
    
      <div>
        <input
          type="text"
          matInput
          placeholder="Username"
          formControlName="username"
        />
      </div>
    
    
      <div>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </div>
    <p *ngIf="error" class="error">
      {{ error }}
    </p>
    <div class="button">
      <button type="submit" mat-button>Iniciar sesión</button>
    </div>
  </form>
</div>